@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
 
body {
	background-image: url(https://www.wallpapertip.com/wmimgs/2-27344_my-hero-academia-wallpaper-my-hero-academia-backgrounds.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	opacity: 0.9;
}

body:before {
	content: "";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, rgb(111, 0, 255), rgb(0, 38, 255));
	background-attachment: fixed;
	opacity: 0.5;
	z-index: -1;
}

h1 {
	padding-top: 20px;
	font-family: 'rubik', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	color: white;
}

#description {
	margin-top: -10px;
	font-family: 'rubik', sans-serif;
	text-align: center;
	color: white;
}

form {
	background-color: #1d24b5;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	font-family: 'rubik', sans-serif;
	font-size: 1.1em;
	line-height: 1.4;
	color: white;
	opacity: 0.9;
}

.div-title {
	color: white;
	font-weight: 700;
	font-size: 1.3em;
	margin: 1%;
}

.form-group{
	margin: 20px 0;
}

.form-control {
	padding: 1%;
	margin: 10px 0 10px 0;
}

.text-checkbox {
	margin-top: 0px;
}

#comments {
	width: 100%;
}



#submit {
	align-content: center;
	padding: 10px 20px;
	display: block;
	margin: auto;
	font-family: 'rubik';
	font-weight: 700;
}


@media (min-width: 1281px) {
	form {
		width: 40%;
		align-content: center;
		display: block;
		margin: auto;
	}

	.form-control {
		width: 100%;
	}
}

@media (max-width: 1280px) {
	form {
		width: 40%;
		align-content: center;
		display: block;
		margin: auto;
	}

	.form-control {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	form {
		width: 50%;
		align-content: center;
		display: block;
		margin: auto;
	}

	.form-control {
		width: 100%;
	}
}

@media (max-width: 768px) {
	form {
		width: 70%;
		align-content: center;
		display: block;
		margin: auto;
	}

	.form-control {
		width: 100%;
	}
}

@media (max-width: 480px) {
	form {
		width: 90%;
		align-content: center;
		display: block;
		margin: auto;
	}

	.form-control {
		width: 100%;
	}
}